# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\prog5\Documents\myprojects\torpedosimulator\src\plugins\ServerInterface\src\subsystems\bronze\scripts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
